In [3]:
import numpy as np
import pandas as pd

Group by cities
inside group - sort by the way they were taken
assign consecutive natural numvbers starting from 1
after - rename all the photoos. The new name begins with the name of the cisty

In [1]:
s = """photo.jpg, Warsaw, 2013-09-05 14:08:15
john.png, London, 2015-06-20 15:13:22
myFriends.png, Warsaw, 2013-09-05 14:07:13
Eiffel.jpg, Paris, 2015-07-23 08:03:02
pisatower.jpg, Paris, 2015-07-22 23:59:59
BOB.jpg, London, 2015-08-05 00:02:03
notredame.png, Paris, 2015-09-01 12:00:00
me.jpg, Warsaw, 2013-09-06 15:40:22
a.png, Warsaw, 2016-02-13 13:33:50
b.jpg, Warsaw, 2016-01-02 15:12:22
c.jpg, Warsaw, 2016-01-02 14:34:30
d.jpg, Warsaw, 2016-01-02 15:15:01
e.png, Warsaw, 2016-01-02 09:49:09
f.png, Warsaw, 2016-01-02 10:55:32
g.jpg, Warsaw, 2016-02-29 22:13:11"""

In [2]:
def solution(S):
    # write your code in Python 3.6
    photos = S.split('\n')

In [4]:
solution(s)

['photo.jpg, Warsaw, 2013-09-05 14:08:15', 'john.png, London, 2015-06-20 15:13:22', 'myFriends.png, Warsaw, 2013-09-05 14:07:13', 'Eiffel.jpg, Paris, 2015-07-23 08:03:02', 'pisatower.jpg, Paris, 2015-07-22 23:59:59', 'BOB.jpg, London, 2015-08-05 00:02:03', 'notredame.png, Paris, 2015-09-01 12:00:00', 'me.jpg, Warsaw, 2013-09-06 15:40:22', 'a.png, Warsaw, 2016-02-13 13:33:50', 'b.jpg, Warsaw, 2016-01-02 15:12:22', 'c.jpg, Warsaw, 2016-01-02 14:34:30', 'd.jpg, Warsaw, 2016-01-02 15:15:01', 'e.png, Warsaw, 2016-01-02 09:49:09', 'f.png, Warsaw, 2016-01-02 10:55:32', 'g.jpg, Warsaw, 2016-02-29 22:13:11']

In [29]:
s.split('\n')
arr = [ss.split(', ') for ss in s.split('\n')]

df = pd.DataFrame(arr)
df.columns = ['old_name', 'city', 'date']
df = df.reset_index()
df['date'] = pd.to_datetime(df['date'])

dfs = df.sort_values(['city', 'date'])
vc = dfs['city'].value_counts()
d1 = dict(vc)
d = {k: len(str(v)) for k, v in dict(vc).items()}
dfs['format'] = dfs['old_name'].apply(lambda x: x[x.index('.'):])
dfs['num'] = dfs['city'].apply(lambda x: str(d1[x]).rjust(d[x],'0')) 
dfs['new_name'] = dfs['city'] + dfs['num'] + dfs['format']
pd.merge(df, dfs, on=['index'])['new_name'].values.tolist()

    index       old_name    city                date
0       0      photo.jpg  Warsaw 2013-09-05 14:08:15
1       1       john.png  London 2015-06-20 15:13:22
2       2  myFriends.png  Warsaw 2013-09-05 14:07:13
3       3     Eiffel.jpg   Paris 2015-07-23 08:03:02
4       4  pisatower.jpg   Paris 2015-07-22 23:59:59
5       5        BOB.jpg  London 2015-08-05 00:02:03
6       6  notredame.png   Paris 2015-09-01 12:00:00
7       7         me.jpg  Warsaw 2013-09-06 15:40:22
8       8          a.png  Warsaw 2016-02-13 13:33:50
9       9          b.jpg  Warsaw 2016-01-02 15:12:22
10     10          c.jpg  Warsaw 2016-01-02 14:34:30
11     11          d.jpg  Warsaw 2016-01-02 15:15:01
12     12          e.png  Warsaw 2016-01-02 09:49:09
13     13          f.png  Warsaw 2016-01-02 10:55:32
14     14          g.jpg  Warsaw 2016-02-29 22:13:11

In [46]:
dfs

    index       old_name    city                date
1       1       john.png  London 2015-06-20 15:13:22
5       5        BOB.jpg  London 2015-08-05 00:02:03
4       4  pisatower.jpg   Paris 2015-07-22 23:59:59
3       3     Eiffel.jpg   Paris 2015-07-23 08:03:02
6       6  notredame.png   Paris 2015-09-01 12:00:00
2       2  myFriends.png  Warsaw 2013-09-05 14:07:13
0       0      photo.jpg  Warsaw 2013-09-05 14:08:15
7       7         me.jpg  Warsaw 2013-09-06 15:40:22
12     12          e.png  Warsaw 2016-01-02 09:49:09
13     13          f.png  Warsaw 2016-01-02 10:55:32
10     10          c.jpg  Warsaw 2016-01-02 14:34:30
9       9          b.jpg  Warsaw 2016-01-02 15:12:22
11     11          d.jpg  Warsaw 2016-01-02 15:15:01
8       8          a.png  Warsaw 2016-02-13 13:33:50
14     14          g.jpg  Warsaw 2016-02-29 22:13:11

In [57]:
dfs = df.sort_values(['city', 'date'])
vc = dfs['city'].value_counts()
d1 = dict(vc)
d = {k: len(str(v)) for k, v in dict(vc).items()}
dfs['format'] = dfs['old_name'].apply(lambda x: x[x.index('.'):])
dfs['num'] = dfs['city'].apply(lambda x: str(d1[x]).rjust(d[x],'0')) 
dfs['new_name'] = dfs['city'] + dfs['num'] + dfs['format']
pd.merge(df, dfs, on=['index'])['new_name'].values.tolist()

['Warsaw10.jpg',
 'London2.png',
 'Warsaw10.png',
 'Paris3.jpg',
 'Paris3.jpg',
 'London2.jpg',
 'Paris3.png',
 'Warsaw10.jpg',
 'Warsaw10.png',
 'Warsaw10.jpg',
 'Warsaw10.jpg',
 'Warsaw10.jpg',
 'Warsaw10.png',
 'Warsaw10.png',
 'Warsaw10.jpg']

In [45]:
d = dict(vc)
d = {k: len(str(v)) for k, v in d.items()}
d

{'Warsaw': 2, 'Paris': 1, 'London': 1}

In [41]:
'1'.rjust(3,'0')

'001'

In [48]:
dfs['old_name'].apply(lambda x: x[x.index('.'):])

1     .png
5     .jpg
4     .jpg
3     .jpg
6     .png
2     .png
0     .jpg
7     .jpg
12    .png
13    .png
10    .jpg
9     .jpg
11    .jpg
8     .png
14    .jpg
Name: old_name, dtype: object